$font-family: 'Poppins', sans-serif;
$title-color: #000000;
$title-size: 22px;
$title-line-height: 4.5rem;
$title-letter-spacing: .66rem;
$title-font-weight: 300;

$body-bg: #fcfcfc;

// Navbar
$navbar-bg: #fcfcfc;
$navbar-text-color: #000000;
$navbar-link-color: #adadad;
$navbar-link-active: #111;
$navbar-link-hover: #1d06067a;
$navbar-link-font-weight: 400;

$box-shadow-color: rgba(0, 0, 0, 0.13);
$box-shadow: 0 0 20px 0 $box-shadow-color;

$about-section-font-weight: 200;
$about-section-font-size: 13px;
$about-section-text-indent: 20px;

$single-work-title-size: 20px;
$single-work-title-weight: 400;
$single-work-description-size: 13px;
$single-work-description-weight: 200;
$about-section-description-indent: 20px;
