<h1 class="title">About</h1>
<div class="about-container">
  <div class="about-image">
    <img src="https://via.placeholder.com/150

C/O https://placeholder.com/#How_To_Use_Our_Placeholders" alt="">
  </div>
  <div class="about-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eveniet ex, inventore ipsam magni mollitia nihil nisi provident sequi ullam unde voluptatem. Ab accusantium dolor expedita maiores neque porro rerum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eveniet ex, inventore ipsam magni mollitia nihil nisi provident sequi ullam unde voluptatem. Ab accusantium dolor expedita maiores neque porro rerum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eveniet ex, inventore ipsam magni mollitia nihil nisi provident sequi ullam unde voluptatem. Ab accusantium dolor expedita maiores neque porro rerum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eveniet ex, inventore ipsam magni mollitia nihil nisi provident sequi ullam unde voluptatem. Ab accusantium dolor expedita maiores neque porro rerum.</p>
  </div>
</div>
