<h1 class="title">Contact</h1>


<div class="contact-wrapper">
  <div class="contact-container-left">
    <ul class="contact-list">
      <h3>Personal Contact Info</h3>
      <li class="contact-list-item">
        <p><fa-icon [icon]="faMapPin"></fa-icon> Address</p>
        <p>65 The Avenue
          FALKIRK
          FK53 8JP</p>
      </li>
      <li class="contact-list-item">
        <p><fa-icon [icon]="faPhone"></fa-icon> Phone</p>
        <p>01632 960274</p>
        <p>+44 1632 960274</p>
      </li>
      <li class="contact-list-item">
        <p><fa-icon [icon]="faEmail"></fa-icon> Email</p>
        <p>random-email@email.com</p>
      </li>
    </ul>
  </div>
  <div class="contact-container-right">
    <ul class="contact-list">
      <h3>Work Contact Info</h3>
      <li class="contact-list-item">
        <p><fa-icon [icon]="faMapPin"></fa-icon> Address</p>
        <p>65 The Avenue
          FALKIRK
          FK53 8JP</p>
      </li>
      <li class="contact-list-item">
        <p><fa-icon [icon]="faPhone"></fa-icon> Phone</p>
        <p>01632 960274</p>
        <p>+44 1632 960274</p>
      </li>
      <li class="contact-list-item">
        <p><fa-icon [icon]="faEmail"></fa-icon> Email</p>
        <p>random-email@email.com</p>
      </li>
    </ul>
  </div>
</div>
